<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fesskiev.programmingsamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gc.GCActivity"
            android:label="@string/title_activity_gc" />
        <activity
            android:name=".android.threads.AndroidThreadsActivity"
            android:label="@string/title_activity_gc" />
        <activity
            android:name=".android.AndroidSystemActivity"
            android:label="@string/title_activity_android"
            android:taskAffinity="" />
        <activity
            android:name=".android.lifecycle.LifecycleActivity"
            android:label="@string/title_activity_lifecycle" />
        <activity
            android:name=".threads.ThreadsActivity"
            android:label="@string/title_activity_threads" />
        <activity
            android:name=".algorithm.AlgorithmActivity"
            android:label="@string/title_activity_algorithm" />

        <service
            android:name=".android.services.LongRunningIntentService"
            android:exported="false" />
        <service
            android:name=".android.services.MessageService"
            android:exported="false"
            android:process=":message" />

        <activity
            android:name=".android.tasks.SingleTopActivity"
            android:label="@string/title_activity_single_top"
            android:launchMode="singleTop"
            android:taskAffinity="" />
        <activity
            android:name=".android.tasks.SingleTaskActivity"
            android:label="@string/title_activity_single_task"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity
            android:name=".android.tasks.SingleInstanceActivity"
            android:label="@string/title_activity_single_instance"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
        <activity
            android:theme="@style/Theme.Transparent"
            android:name=".android.view.ViewsActivity"
            android:label="@string/title_activity_views" />
        <activity
            android:name=".rx.RxActivity"
            android:label="@string/title_activity_rx" />
    </application>

</manifest>